/* Footer.css */
.footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.footer-logo {
    width: 50px;
    height: auto;
}

@media screen and (max-width: 400px) {
    .footer-logo {
        width: 30px;
    }
}

.footer-link {
    color: var(--white-color);
    text-decoration: underline;
}

.footer-link:hover {
    color: var(--secondary-color);
}

.footer-logo-link {
    display: inline-block;
}

.footer-logo-link:hover {
    opacity: 0.8;
}

.visits-counter-box {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    font-weight: 600;
    color: var(--white-color);
    font-size: 0.95rem;
    transition: background-color 0.2s, transform 0.2s;
    align-self: center;
    cursor: default;
}

.visits-counter-box:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

.visits-counter-box:hover::after {
    font-size: 0.8rem;
    color: var(--secondary-color);
    margin-left: 0.5rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-content .modal-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color) !important;
}

.modal-content p {
    color: #333;
    font-size: 1rem;
    margin-bottom: 20px;
}

.modal-content p.visit-number {
    font-size: 4rem;
    font-weight: bold;
    margin: 15px 0;
    color: var(--primary-color);
}

.close-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #18142c;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: bold;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #342c5e;
}

@media (max-width: 600px) {
    .modal-content {
        margin: 0px 20px;
    }
    .modal-content p {
        font-size: 0.9rem;
    }
}